{% extends 'base.html' %}

{% block meta %}
    <title>Beli Langganann</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <style>
        .staatliches-regular {
            font-family: "Staatliches", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: large;
        }
    </style>
{% endblock meta %}

{% block content %}

{% include 'navbar.html' %}

<div class="container">
    <br>

    <h1 class="d-flex justify-content-center">Beli Langganan</h1>
    
    <br>
    
    <h5>Informasi Paket yang Ingin Dibeli:</h5>

    <br>

    <table class="table">
        <thead>
            <tr>
                <th>Nama</th>
                <th>Harga</th>
                <th>Resolusi Layar</th>
                <th>Dukungan Perangkat</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{data_paket.0}}</td>
                <td>{{data_paket.1}}</td>
                <td>{{data_paket.2}}</td>
                <td>{{data_paket.3}}</td>
            </tr>
        </tbody>
    </table>

    <br>
    
    <h5>Pilih Metode Pembayaran:</h5>

    <br>
    <div class="d-flex justify-content-center">
        <form id="payment-form" method="get">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Metode Pembayaran
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#" data-url="{% url 'langganan:bayar' 'paypal' data_paket.0 %}">PayPal</a></li>
                  <li><a class="dropdown-item" href="#" data-url="{% url 'langganan:bayar' 'bank-transfer' data_paket.0 %}">Bank Transfer</a></li>
                  <li><a class="dropdown-item" href="#" data-url="{% url 'langganan:bayar' 'credit-card' data_paket.0 %}">Credit Card</a></li>
                </ul>
            </div>

            <br>

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-lg btn-outline-primary ">Bayar</button>
            </div>
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const dropdownItems = document.querySelectorAll('.dropdown-item');
        const paymentForm = document.getElementById('payment-form');

        dropdownItems.forEach(item => {
            item.addEventListener('click', (event) => {
                event.preventDefault();
                const url = event.target.getAttribute('data-url');
                paymentForm.setAttribute('action', url);
                const dropdownButton = document.getElementById('dropdownMenuButton1');
                dropdownButton.textContent = event.target.textContent;
            });
        });
    });
</script>

{% endblock content %}
