{% extends 'base.html' %}

{% block meta %}
    <title>Kelola Langganan</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <style>
        .staatliches-regular {
            font-family: "Staatliches", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: large;
        }

    </style>
{% endblock meta %}

{% block content %}

{% include 'navbar.html' %}

<div class="container">
    <br>

    <h1 class="d-flex justify-content-center">Kelola Langganan</h1>
    
    <br>
    
    <h5>Paket Langganan Aktif Anda:</h5>

    <br>

    <table class="table">
        <thead>
            <tr>
                <th>Nama</th>
                <th>Harga</th>
                <th>Resolusi Layar</th>
                <th>Dukungan Perangkat</th>
                <th>Tanggal Dimulai</th>
                <th>Tanggal Akhir</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% if langganan_sekarang %}
                <td>{{langganan_sekarang.0}}</td>
                <td>{{langganan_sekarang.1}}</td>
                <td>{{langganan_sekarang.2}}</td>
                <td>{{langganan_sekarang.3}}</td>
                <td>{{langganan_sekarang.4}}</td>
                <td>{{langganan_sekarang.5}}</td>
                {% else %}
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                {% endif %}
            </tr>
        </tbody>
    </table>

    <br>
    
    <h5>Pilih Paket Lain:</h5>

    <br>

    <table class="table">
        <thead>
            <tr>
                <th>Nama</th>
                <th>Harga</th>
                <th>Resolusi Layar</th>
                <th>Dukungan Perangkat</th>
                <th>Beli</th>
            </tr>
        </thead>
        <tbody>
            {% for paket in data_paket %}
            <tr>
                <td>{{paket.0}}</td>
                <td>{{paket.1}}</td>
                <td>{{paket.2}}</td>
                <td>{{paket.3}}</td>
                <td>
                    <a href="{% url 'langganan:show_beli' param_value=paket.0 %}" class="btn btn-outline-primary">Beli</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>
    
    <h5>Riwayat Transaksi:</h5>

    <br>

    <table class="table">
        <thead>
            <tr>
                <th>Nama Paket</th>
                <th>Tanggal Dimulai</th>
                <th>Tanggal Akhir</th>
                <th>Metode Pembayaran</th>
                <th>Tanggal Pembayaran</th>
                <th>Total Pembayaran</th>
            </tr>
        </thead>
        <tbody>
            {% for transaksi in data_transaksi %}
            <tr>
                <td>{{transaksi.0}}</td>
                <td>{{transaksi.4}}</td>
                <td>{{transaksi.5}}</td>
                <td>{{transaksi.6}}</td>
                <td>{{transaksi.7}}</td>
                <td>{{transaksi.1}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}