{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}

<div class="container mt-4">
    <h2 class="text-center fw-bold">Daftar Unduhan</h2>
    <table class="table table-striped mt-3">
        <thead class="table-dark">
            <tr>
                <th scope="col">Judul</th>
                <th scope="col">Waktu Diunduh</th>
                <th scope="col">Aksi</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Tayangan 1</td>
                <td>2024-05-02 10:00:00</td>
                <td><button type="button" class="btn btn-danger" onclick="">Hapus</button></td>
            </tr>
            <tr>
                <td>Tayangan 2</td>
                <td>2024-05-02 11:00:00</td>
                <td><button type="button" class="btn btn-danger" onclick="">Hapus</button></td>
            </tr>
        </tbody>
    </table>

    <!-- Tombol Unduh Tayangan -->
    <button type="button" class="btn btn-dark mt-4" data-toggle="modal" data-target="#unduhTayanganModal">
      Unduh Tayangan
    </button>
</div>

<!-- Modal Unduh Tayangan -->
<div class="modal fade" id="unduhTayanganModal" tabindex="-1" aria-labelledby="unduhTayanganModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="unduhTayanganModalLabel">Unduh Tayangan</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="text-center fw-bold">SUKSES MENAMBAHKAN TAYANGAN KE DAFTAR UNDUHAN</p>
        <p id="unduhSuccessMessage" style="display: none;">Selamat! Anda telah berhasil mengunduh <span id="judulTayangan"></span> dan akan berlaku hingga <span id="expiredTime"></span>. Cek informasi selengkapnya pada halaman daftar unduhan.</p>
        </div>    
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="unduhBtn">Daftar Unduhan</button>
      </div>
    </div>
  </div>
</div>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<!-- Bootstrap JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>

<script>
  $('#unduhBtn').click(function() {
    // Sembunyikan modal
    $('#unduhTayanganModal').modal('hide');
  });

  function showSuccessMessage() {
    var judulTayangan = "Judul Tayangan"; 
    var currentTime = new Date();
    var expiredTime = new Date();
    expiredTime.setDate(currentTime.getDate() + 7); // Tayangan berlaku selama 7 hari
    var formattedExpiredTime = expiredTime.toLocaleDateString('en-US', { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit' });
    
    $('#judulTayangan').text(judulTayangan);
    $('#expiredTime').text(formattedExpiredTime);
    $('#unduhSuccessMessage').show();
  }

  // Panggil showSuccessMessage ketika dokumen sudah siap
  $(document).ready(function() {
    showSuccessMessage();
  });
</script>

{% endblock %}
