{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}

<div class="container mt-4">
    <h2 class="text-center fw-bold">{{ judul_daftar }}</h2>
    <table class="table table-striped mt-3">
        <thead class="table-dark">
            <tr>
                <th scope="col">Judul Tayangan</th>
                <th scope="col">Aksi</th>
            </tr>
        </thead>
        <tbody>
            {% for tayangan in daftar_tayangan %}
            <tr>
                <td>{{ tayangan.0 }}</td></td>
                <td>
                    <button type="button" class="btn btn-danger delete-button" data-id="{{ tayangan.1 }}">Hapus</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<!-- Bootstrap JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function(){
        $('.delete-button').on('click', function(){
            var id_tayangan = $(this).data('id');
            var csrf_token = '{{ csrf_token }}';  // Get CSRF token

            $.ajax({
                type: 'POST',
                url: '{% url "daftar_favorit:delete_tayangan" %}',
                data: {
                    'id_tayangan': id_tayangan,
                    'csrfmiddlewaretoken': csrf_token
                },
                success: function(response) {
                    // Refresh halaman setelah berhasil menghapus tayangan
                    location.reload();
                },
                error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    });
</script>

{% endblock %}
