{% extends 'base.html' %}

{% block content %}
<nav class="navbar bg-dark">
    <div class="container-fluid">
        <a href="https://fontmeme.com/netflix-font/">
          <img src="https://fontmeme.com/permalink/240425/403971fa20b165cad58adeeed6f51153.png" height="40" alt="pacilflix-logo" border="0">
        </a>

        <ul class="nav nav-underline">
          {% if username_cookie %}
          <li class="nav-item">
            <a class="nav-link" style="color: #E50914;" href="#">Halo, {{ username_cookie }}</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" style="color: #E50914;" href="{% url 'trailer:show-trailers' %}">Trailer Tayangan</a>
          </li>

          {% if username_cookie %}
          <li class="nav-item">
            <a class="nav-link" style="color: #E50914;" href="{% url 'tayangan:watch' %}">Daftar Tayangan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: #E50914;" href="{% url 'daftar_favorit:kelola_daftar_favorit' %}">Kelola Daftar Favorit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: #E50914;" href="{% url 'daftar_unduhan:kelola_daftar_unduhan' %}">Kelola Daftar Unduhan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: #E50914;" href="{% url 'langganan:show_langganan' %}">Kelola Langganan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: #E50914;" href="{% url 'daftar_kontributor:show_daftar_kontributor' %}">Daftar Kontributor</a>
          </li>
        </ul>
        <div class="login-logout">
          <a href="{% url 'main:logout_user' %}">
            <button type="button" class="btn btn-outline-danger">
                Logout
            </button>
          </a>
        </div>
        {% else %}
        <div class="login-logout">
          <a href="{% url 'main:show_welcome_page' %}">
            <button type="button" class="btn btn-outline-danger">
                Login
            </button>
          </a>
        {% endif %}

    </div>
</nav>
{% endblock %}