{% extends 'base.html' %}

{% block meta %}
<script src="https://cdn.tailwindcss.com"></script>
<script>
    tailwind.config = {
        theme: {
            extend: {
                colors: {
                    netflix: '#E50914',
                    darker: '#B20710',
                }
            }
        }
    }
</script>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
    <div class="container my-12">
        <h1 class="mx-auto max-w-2xl text-4xl font-bold tracking-tight text-gray-900 sm:text-4xl text-netflix">Series Details</h1>
        <h2 class="mx-auto max-w-2xl text-7xl font-medium tracking-tight text-gray-900 sm:text-7xl">{{ detail.judul }}</h2>

        <div class="flex justify-center gap-2 my-4">
            {% for episode in episodes %}

                <a href="{% url 'tayangan:episode' episode.id_series %}" class="no-underline bg-gradient-to-r from-netflix to-darker px-6 py-3 text-white hover:from-darker hover:to-darker">
                    <div>
                        <p>Episode {{ forloop.counter }}</p>
                    </div>
                    <div>
                        <h2>{{ episode.sub_judul }}</h2>
                    </div>
                </a>

            {% endfor %}
        </div>

        <table class="table table-hover mt-6">
            <tbody>
                <tr>
                    <td><strong>Total View</strong></td>
                    <td>{{ detail.total_view }}</td>
                </tr>
                <tr>
                    <td><strong>Rating Rata-Rata</strong></td>
                    <td>{{ detail.rating_rata_rata|floatformat:1 }}</td>
                </tr>
                <tr>
                    <td><strong>Sinopsis</strong></td>
                    <td>{{ detail.sinopsis }}</td>
                </tr>
                <tr>
                    <td><strong>Genre</strong></td>
                    <td>{{ detail.genre }}</td>
                </tr>
                <tr>
                    <td><strong>Asal Negara</strong></td>
                    <td>{{ detail.asal_negara }}</td>
                </tr>
                <tr>
                    <td><strong>Pemain</strong></td>
                    <td>{{ detail.pemain }}</td>
                </tr>
                <tr>
                    <td><strong>Penulis Skenario</strong></td>
                    <td>{{ detail.penulis }}</td>
                </tr>
                <tr>
                    <td><strong>Sutradara</strong></td>
                    <td>{{ detail.sutradara }}</td>
                </tr>
            </tbody>
        </table>

        <a class="no-underline inline-block w-auto text-center min-w-[200px] px-6 py-4 text-white transition-all rounded-md shadow-xl sm:w-auto bg-gradient-to-r from-netflix to-darker hover:bg-gradient-to-b dark:shadow-blue-900 shadow-netflix-darker hover:shadow-2xl hover:shadow-netflix hover:-tranneutral-y-px " href="{% url 'ulasan:show-review' detail.id %}">
            Lihat Ulasan
        </a>

    </div>
{% endblock %}
