{% extends 'base.html' %}

{% block meta %}
<script src="https://cdn.tailwindcss.com"></script>
<script>
    tailwind.config = {
        theme: {
            extend: {
                colors: {
                    netflix: '#E50914',
                    darker: '#B81D24'
                }
            }
        }
    }
</script>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
    <div class="container my-12">
        <h1 class="mx-auto max-w-2xl text-4xl font-bold tracking-tight text-gray-900 sm:text-4xl text-netflix">Movie Details</h1>
        <h2 class="mx-auto max-w-2xl text-7xl font-medium tracking-tight text-gray-900 sm:text-7xl">{{ detail.judul }}</h2>
        
        {% if username_cookie %}
            {% if is_released %}
                <form method="POST" action="{% url 'tayangan:watch-film' detail.id %}">
                    {% csrf_token %}
                    <div class="flex flex-col items-center justify-center gap-5 mt-6 md:flex-row">
                        <input type="range" min="0" max="100" value="0" class="slider" id="watchProgress" name="watchProgress" oninput="this.nextElementSibling.value = this.value">
                        <input type="number" min="0" max="100" value="0" class="integer-input" id="watchProgressInt" name="watchProgressInt" oninput="this.previousElementSibling.value = this.value">
                        <button type="submit" class="no-underline inline-block w-auto text-center min-w-[200px] px-6 py-4 text-white transition-all rounded-md shadow-xl sm:w-auto bg-gradient-to-r from-netflix to-blue-500 hover:bg-gradient-to-b dark:shadow-blue-900 shadow-blue-200 hover:shadow-2xl hover:shadow-blue-400 hover:-tranneutral-y-px">
                            Watch Now
                        </button>
                        <a class="downloadBtn inline-block w-auto text-center min-w-[200px] px-6 py-4 text-white transition-all bg-gray-700 dark:bg-white dark:text-gray-800 rounded-md shadow-xl sm:w-auto hover:bg-gray-900 hover:text-white shadow-neutral-300 dark:shadow-neutral-700 hover:shadow-2xl hover:shadow-neutral-400 hover:-tranneutral-y-px" href="" data-toggle="modal" data-target="#unduhTayanganModal">
                            Download Film
                        </a>
                        <a class="no-underline inline-block w-auto text-center min-w-[200px] px-6 py-4 text-white transition-all bg-gray-700 dark:bg-white dark:text-gray-800 rounded-md shadow-xl sm:w-auto hover:bg-gray-900 hover:text-white shadow-neutral-300 dark:shadow-neutral-700 hover:shadow-2xl hover:shadow-neutral-400 hover:-tranneutral-y-px" href="" data-toggle="modal" data-target="#tambahFavoritModal">
                            Add to Favorite
                        </a>
                    </div>
                </form>
            {% else %}
                <p class="text-center text-lg text-gray-700">This movie will be available on {{ detail.release_date_trailer }}.</p>
            {% endif %}

            {% if progress %}
                <div class="mt-6">
                    <h3 class="text-xl font-bold">Your Watch Progress</h3>
                    <p>Started at: {{ progress.start_date_time }}</p>
                    <p>Ended at: {{ progress.end_date_time }}</p>
                </div>
            {% endif %}

        {% else %}
            <p class="text-center text-lg text-gray-700">Please log in to view the movie details.</p>
        {% endif %}

        <table class="table table-hover mt-6">
            <tbody>
                <tr>
                    <td><strong>Total View</strong></td>
                    <td>{{ detail.total_view }}</td>
                </tr>
                <tr>
                    <td><strong>Rating Rata-Rata</strong></td>
                    <td>{{ detail.rating_rata_rata|floatformat:1 }}</td>
                </tr>
                <tr>
                    <td><strong>Sinopsis</strong></td>
                    <td>{{ detail.sinopsis }}</td>
                </tr>
                <tr>
                    <td><strong>Durasi Film</strong></td>
                    <td>{{ detail.durasi_film }} menit</td>
                </tr>
                <tr>
                    <td><strong>Tanggal Rilis</strong></td>
                    <td>{{ detail.release_date_trailer }}</td>
                </tr>
                <tr>
                    <td><strong>Genre</strong></td>
                    <td>{{ detail.genre }}</td>
                </tr>
                <tr>
                    <td><strong>Asal Negara</strong></td>
                    <td>{{ detail.asal_negara }}</td>
                </tr>
                <tr>
                    <td><strong>Pemain</strong></td>
                    <td>{{ detail.pemain }}</td>
                </tr>
                <tr>
                    <td><strong>Penulis</strong></td>
                    <td>{{ detail.penulis }}</td>
                </tr>
                <tr>
                    <td><strong>Sutradara</strong></td>
                    <td>{{ detail.sutradara }}</td>
                </tr>
            </tbody>
        </table>

        <a class="no-underline inline-block w-auto text-center min-w-[200px] px-6 py-4 text-white transition-all rounded-md shadow-xl sm:w-auto bg-gradient-to-r from-netflix to-darker hover:bg-gradient-to-b dark:shadow-blue-900 shadow-netflix-darker hover:shadow-2xl hover:shadow-netflix hover:-tranneutral-y-px "
         href="{% url 'ulasan:show-review' detail.id %}">
            Lihat Ulasan
        </a>

        <!-- Modal untuk menambahkan tayangan ke Daftar Favorit -->
        <!-- Modal untuk menambahkan tayangan ke Daftar Favorit -->
        <div class="modal fade" id="tambahFavoritModal" tabindex="-1" aria-labelledby="tambahFavoritModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="tambahFavoritModalLabel">Tambah ke Daftar Favorit</h5>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="formTambahFavorit">
                            <div class="mb-3">
                                <label for="daftarFavorit" class="form-label">Judul Daftar Favorit:</label>
                                <select class="form-select" id="daftarFavoritDropdown">
                                    <option value="" selected disabled>Pilih judul...</option>
                                    {% for judul, timestamp in daftar_favorit %}
                                        <option value="{{ judul }} | {{ timestamp }}">{{ judul }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                        <button type="button" class="btn btn-dark tambahKeFavBtn">Tambah</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Unduh Tayangan -->
        <div class="modal fade" id="unduhTayanganModal" tabindex="-1" aria-labelledby="unduhTayanganModalLabel" aria-hidden="true" 
            data-judul="{{ detail.judul}}"
            data-idTayangan="{{ detail.id }}">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="unduhTayanganModalLabel">Unduh Tayangan</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                <p class="text-center fw-bold">SUKSES MENAMBAHKAN TAYANGAN KE DAFTAR UNDUHAN</p>
                <p id="unduhSuccessMessage" style="display: none;">Selamat! Anda telah berhasil mengunduh <span id="judulTayangan"></span> dan akan berlaku hingga <span id="expiredTime"></span>. Cek informasi selengkapnya pada halaman daftar unduhan.</p>
                </div>    
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="unduhBtn">Daftar Unduhan</button>
                </div>
            </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPxXKcsPAT6Erc5eWs=" crossorigin="anonymous"></script>
    
    
    <script>
        $(document).ready(function() {
            $('#tambahFavoritModal').on('hidden.bs.modal', function (e) {
                $('#daftarFavoritDropdown').val('');
            });

            $('.tambahKeFavBtn').click(function() {
                var selectedOption = $('#daftarFavoritDropdown').val();
                if (selectedOption) {
                    var [judul, timestamp] = selectedOption.split('|');
                    $.ajax({
                        type: 'POST',
                        url: '{% url "daftar_favorit:add_to_daftar" %}',
                        data: {
                            'judul': judul,
                            'timestamp': timestamp,
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                        },
                        success: function(response) {
                            if (response.success) {
                                alert('Tayangan berhasil ditambahkan ke daftar favorit');
                                $('#tambahFavoritModal').modal('hide');
                            } else {
                                alert(response.message);
                            }
                        },
                        error: function(xhr, status, error) {
                            var errorMessage = 'Terjadi kesalahan saat menambahkan tayangan ke daftar favorit';
                            if (xhr.responseJSON && xhr.responseJSON.message) {
                                errorMessage = xhr.responseJSON.message;
                            }
                            alert(errorMessage);
                        }
                    });
                } else {
                    alert('Silakan pilih judul terlebih dahulu');
                }
            });

            $('#unduhBtn').click(function() {
                window.location.href = "{% url 'daftar_unduhan:kelola_daftar_unduhan' %}"
            });
        });
    </script>

    <!-- <script>
        $(document).ready(function() {
            $('.tambahKeFavBtn').click(function() {
                var selectedOption = $('#favSelect').val();
                if (selectedOption) {
                    var [judul, timestamp] = selectedOption.split('|');
                    $.ajax({
                        type: 'POST',
                        url: '{% url "daftar_favorit:add_to_daftar" %}',
                        data: {
                            'judul': judul,
                            'timestamp': timestamp,
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                        },
                        success: function(response) {
                            if (response.success) {
                                alert('Tayangan berhasil ditambahkan ke daftar favorit');
                                $('#addToFavModal').modal('hide');
                            } else {
                                alert(response.message);
                            }
                        },
                        error: function(xhr, status, error) {
                            var errorMessage = 'Terjadi kesalahan saat menambahkan tayangan ke daftar favorit';
                            if (xhr.responseJSON && xhr.responseJSON.message) {
                                errorMessage = xhr.responseJSON.message;
                            }
                            alert(errorMessage);
                        }
                    });
                } else {
                    alert('Silakan pilih judul terlebih dahulu');
                }
            });
        }); -->
<!-- 
        // // Handling unduh tayangan
        
    
        // function showSuccessMessage() {
        // var judulTayangan = $('#unduhTayanganModal').data('judul');
        // var currentTime = new Date();
        // var expiredTime = new Date();
        // expiredTime.setDate(currentTime.getDate() + 7); // Tayangan berlaku selama 7 hari
        // var formattedExpiredTime = expiredTime.toLocaleDateString('en-US', { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit' });
        
        // $('#judulTayangan').text(judulTayangan);
        // $('#expiredTime').text(formattedExpiredTime);
        // $('#unduhSuccessMessage').show();
        // }

        // function unduhTayangan() {
        //     var idTayangan = $('#unduhTayanganModal').data('idTayangan');
        //     var timestamp = new Date(); // Perbaiki penulisan

        //     $.ajax({
        //         type: 'POST',
        //         url: '{% url "daftar_unduhan:unduh" %}',
        //         data: {
        //             'idTayangan': idTayangan,
        //             'timestamp': timestamp,
        //             'csrfmiddlewaretoken': '{{ csrf_token }}'
        //         },
        //         success: function(response) { // Panggil fungsi setelah AJAX berhasil
        //             location.reload();
        //         },
        //         error: function(xhr, status, error) {
        //             console.error(xhr.responseText);
        //         }
        //     });
        // }

        // $(document).ready(function() {
        //     showSuccessMessage();
        //     $('.downloadBtn').click(function(){
        //     unduhTayangan(); // Panggil fungsi unduhTayangan() saat tombol unduh ditekan
        //     });
        // });

    </script> -->
{% endblock %}
