{% extends 'base.html' %}

{% block meta %}
<script src="https://cdn.tailwindcss.com"></script>
<script>
    tailwind.config = {
        theme: {
            extend: {
                colors: {
                    netflix: '#E50914',
                    darker: '#B20710',
                }
            }
        }
    }
</script>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
    <div class="container my-12">
        <h1 class="mx-auto max-w-2xl text-4xl font-bold tracking-tight text-gray-900 sm:text-4xl text-netflix">Series Details</h1>
        <h2 class="mx-auto max-w-2xl text-7xl font-medium tracking-tight text-gray-900 sm:text-7xl">{{ detail.judul }}</h2>
        <div class="flex justify-center gap-2 my-4">
            <a class="mx-8 no-underline inline-block w-auto text-center min-w-[200px] px-6 py-4 text-white transition-all bg-gray-700 dark:bg-white dark:text-gray-800 rounded-md shadow-xl sm:w-auto hover:bg-gray-900 hover:text-white shadow-neutral-300 dark:shadow-neutral-700 hover:shadow-2xl hover:shadow-neutral-400 hover:-tranneutral-y-px" href="" data-toggle="modal" data-target="#unduhTayanganModal">
                Download Series
            </a>
            <a class="no-underline inline-block w-auto text-center min-w-[200px] px-6 py-4 text-white transition-all bg-gray-700 dark:bg-white dark:text-gray-800 rounded-md shadow-xl sm:w-auto hover:bg-gray-900 hover:text-white shadow-neutral-300 dark:shadow-neutral-700 hover:shadow-2xl hover:shadow-neutral-400 hover:-tranneutral-y-px" href="" data-toggle="modal" data-target="#tambahFavoritModal">
                Add to Favorite
            </a>
        </div>

        <div class="flex justify-center gap-2 my-4">
            {% for episode in episodes %}
                <a href="{% url 'tayangan:detail-episode' id_series=episode.id_series sub_judul=episode.sub_judul %}" class="no-underline bg-gradient-to-r from-netflix to-darker px-6 py-3 text-white hover:from-darker hover:to-darker">
                    <div>
                        <p>Episode {{ forloop.counter }}</p>
                    </div>
                    <div>
                        <h2>{{ episode.sub_judul }}</h2>
                    </div>
                </a>

            {% endfor %}
        </div>

        <table class="table table-hover mt-6">
            <tbody>
                <tr>
                    <td><strong>Total View</strong></td>
                    <td>{{ detail.total_view }}</td>
                </tr>
                <tr>
                    <td><strong>Rating Rata-Rata</strong></td>
                    <td>{{ detail.rating_rata_rata|floatformat:1 }}</td>
                </tr>
                <tr>
                    <td><strong>Sinopsis</strong></td>
                    <td>{{ detail.sinopsis }}</td>
                </tr>
                <tr>
                    <td><strong>Genre</strong></td>
                    <td>{{ detail.genre }}</td>
                </tr>
                <tr>
                    <td><strong>Asal Negara</strong></td>
                    <td>{{ detail.asal_negara }}</td>
                </tr>
                <tr>
                    <td><strong>Pemain</strong></td>
                    <td>{{ detail.pemain }}</td>
                </tr>
                <tr>
                    <td><strong>Penulis Skenario</strong></td>
                    <td>{{ detail.penulis }}</td>
                </tr>
                <tr>
                    <td><strong>Sutradara</strong></td>
                    <td>{{ detail.sutradara }}</td>
                </tr>
            </tbody>
        </table>

        <a class="no-underline inline-block w-auto text-center min-w-[200px] px-6 py-4 text-white transition-all rounded-md shadow-xl sm:w-auto bg-gradient-to-r from-netflix to-darker hover:bg-gradient-to-b dark:shadow-blue-900 shadow-netflix-darker hover:shadow-2xl hover:shadow-netflix hover:-tranneutral-y-px " href="{% url 'ulasan:show-review' detail.id %}">
            Lihat Ulasan
        </a>
        
        <!-- Modal untuk menambahkan tayangan ke Daftar Favorit -->
        <div class="modal fade" id="tambahFavoritModal" tabindex="-1" aria-labelledby="tambahFavoritModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="tambahFavoritModalLabel">Tambah ke Daftar Favorit</h5>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p class="text-center fw-bold">TAMBAH KE FAVORIT</p>
                <p class="text-center fw-bold">MODAL</p>
                <form id="formTambahFavorit">
                    <div class="mb-3">
                    <label for="daftarFavorit" class="form-label">Judul Daftar Favorit:</label>
                    <select class="form-select" id="daftarFavorit" name="daftarFavorit">
                    </select>
                    </div>
                </form>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-dark" id="tambahKeFavBtn">Tambah</button>
                </div>
            </div>
            </div>
        </div>

        <!-- Modal Unduh Tayangan -->
        <div class="modal fade" id="unduhTayanganModal" tabindex="-1" aria-labelledby="unduhTayanganModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="unduhTayanganModalLabel">Unduh Tayangan</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="text-center fw-bold">SUKSES MENAMBAHKAN TAYANGAN KE DAFTAR UNDUHAN</p>
                    <p id="unduhSuccessMessage" style="display: none;">Selamat! Anda telah berhasil mengunduh <span id="judulTayangan"></span> dan akan berlaku hingga <span id="expiredTime"></span>. Cek informasi selengkapnya pada halaman daftar unduhan.</p>
                </div>    
                <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="unduhBtn">Daftar Unduhan</button>
                </div>
            </div>
            </div>
        </div>
        </div>
</div>
    
        <script>
        // Handling tambah ke Daftar Favorit
        $('#tambahKeFavBtn').click(function() {
        // menutup modal
        $('#tambahKeFavBtn').modal('hide');
    });

    // Handling unduh tayangan
    $('#unduhBtn').click(function() {
        // Redirect ke page Daftar Unduhan
        window.location.href = "{% url 'daftar_unduhan:kelola_daftar_unduhan' %}"
        });

        function showSuccessMessage() {
        var judulTayangan = "Judul Tayangan"; 
        var currentTime = new Date();
        var expiredTime = new Date();
        expiredTime.setDate(currentTime.getDate() + 7); // Tayangan berlaku selama 7 hari
        var formattedExpiredTime = expiredTime.toLocaleDateString('en-US', { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit' });

        $('#judulTayangan').text(judulTayangan);
        $('#expiredTime').text(formattedExpiredTime);
        $('#unduhSuccessMessage').show();
        }

        // Panggil showSuccessMessage ketika dokumen sudah siap
        $(document).ready(function() {
        showSuccessMessage();
        });
        </script>
{% endblock %}
