{% extends 'base.html' %}

{% block meta %}
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                netflix: '#E50914',
              }
            }
          }
        }
    </script>
{% endblock meta %}
{% block content %}

{% include 'navbar.html' %}

<div class="container my-12">
  <h1 class="mx-auto max-w-2xl text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl text-netflix">Daftar Trailers</h1>
  
  <!-- Form Pencarian -->
  <form action="{% url 'tayangan:search' %}" method="get">
    <label for="search-bar" class="mx-auto mt-8 relative bg-white min-w-sm max-w-2xl flex flex-col md:flex-row items-center justify-center border py-2 px-2 rounded-2xl gap-2 shadow-2xl focus-within:border-gray-300">
        <input id="search-bar" placeholder="your keyword here" name="q" class="px-6 py-2 w-full rounded-md flex-1 outline-none bg-white" required="">
        <button type="submit" class="w-full md:w-auto px-6 py-3 bg-black border-black text-white fill-white active:scale-95 duration-100 border will-change-transform overflow-hidden relative rounded-xl transition-all">
            <div class="flex items-center transition-all opacity-1">
                <span class="text-sm font-semibold whitespace-nowrap truncate mx-auto">Search</span>
            </div>
        </button>
    </label>
</form>

  <!-- 10 Tayangan Terbaik Minggu Ini -->
  <div class="mx-auto relative flex justify-center">
    <ul class="flex gap-3 my-8 md:my-12 flex-wrap justify-center px-4 md:px-8 max-w-sm">
      <button
      class="px-2 py-1 md:text-lg relative bg-gray-100 rounded-lg select-none hover:shadow hover:shadow-teal-500 hover:outline hover:outline-teal-600">
      <a href="{% url 'trailer:show-trailers' %}"  class="no-underline text-black visited:text-netflix">
        Top 10 Global
      </a>
    </button>
    <li
    class="px-2 py-1 md:text-lg relative bg-gray-100 rounded-lg select-none hover:shadow hover:shadow-teal-500 hover:outline hover:outline-teal-600">
    <a href="top-indonesia/" class="no-underline text-black visited:text-netflix">
      Top 10 Indonesia
    </a>
  </li>
  </ul>
  </div>
<h2 class="mx-auto max-w-2xl text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">10 Tayangan Terbaik Minggu Ini</h2>
<table class="table table-hover">
    <tr>
      <th>Peringkat</th>
      <th>Judul</th>
      <th>Sinopsis</th>
      <th>URL Trailer</th>
      <th>Tanggal Rilis</th>
      <th>Total View 7 Hari Terakhir</th>
    </tr>
    <!-- For loop untuk trailers -->
    {% for trailer in trailers %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ trailer.judul }}</td>
      <td>{{ trailer.sinopsis }}</td>
      <td><a href="{{ trailer.trailer_url }}">Watch Trailer</a></td>
      <td>{{ trailer.tanggal_rilis }}</td>
      <td>{{ trailer.total_view }}</td>
    </tr>
    {% endfor %}
  </table>
  <!-- FILM -->
  <h2 class="mx-auto max-w-2xl text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Film</h2>
  <table class="table table-hover">
    <tr>
      <th>Judul</th>
      <th>Sinopsis</th>
      <th>URL Trailer</th>
      <th>Tanggal Rilis</th>
      <th>Total View 7 Hari Terakhir</th>
    </tr>
    <!-- For loop untuk film -->
    {% for movie in film %}
    <tr>
      <td>{{ movie.judul }}</td>
      <td>{{ movie.sinopsis }}</td>
      <td><a href="{{ movie.trailer_url }}">Watch Trailer</a></td>
      <td>{{ movie.tanggal_rilis }}</td>
      <td>{{ movie.total_view }}</td>
    </tr>
    {% endfor %}
  </table>
  <!-- SERIES -->
  <h2 class="mx-auto max-w-2xl text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Series</h2>
  <table class="table table-hover">
    <tr>
      <th>Judul</th>
      <th>Sinopsis</th>
      <th>URL Trailer</th>
      <th>Tanggal Rilis</th>
      <th>Total View 7 Hari Terakhir</th>
    </tr>
    <!-- For loop untuk series -->
    {% for series_episode in series %}
    <tr>
      <td>{{ series_episode.judul }}</td>
      <td>{{ series_episode.sinopsis }}</td>
      <td><a href="{{ series_episode.trailer_url }}">Watch Trailer</a></td>
      <td>{{ series_episode.tanggal_rilis }}</td>
      <td>{{ series_episode.total_view }}</td>
    </tr>
    {% endfor %}
  </table>

{% endblock %}
